body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.contact {
  text-align: center;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  flex-flow: column;
  border-radius: 16px;
  background-color: #e3dcdc;}
.contactInput{
  width: 98%;
  align-items: center;
}
.horaireForm{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
p.create{
  color: blue;
  text-decoration: underline;
}
p.create:hover{
  color: blue;
  cursor: pointer;
}
.main{
  color: white;
  background-color: rgba(19, 19, 19, 0.94);
}
.loginForm{
  padding: 100px;
  margin:8px 4px 8px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
h1{
  text-align: center;
}
input.submit{
  background-color: #000000;
  margin: 40px;
  color: white;
  width: 80%;
  height: 40px;
  border-radius: 8px;
}
hr{
  color: #000000;
  backgroundColor: #000000;
  height: 2px;
  width: 100%;
}
.input-validation{
  width: 50%;
  padding: 12px 20px;
  margin: 10%;
  box-sizing: border-box;
  color: white;
  text-align: center;
  border: 2px solid #5d5858;
  background-color: #464242;
  border-radius: 10px;

}
.chat{
  background-color: #ffffff;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-chat{
  border:1px solid black;
  border-radius: 10px;
  width: 95%;
  height: 80%;
  display: flex;
  overflow: hidden;
}
.sidebar{
  width: 30%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.94);
  postion:sticky;
  overflow: hidden;
}
.chatTitle{
  display: flex;
  align-items: center;
  color: white;
  background-color: #464242;
  height: 50px;
  padding:10px;
  margin: 0;
}
.chatList{
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.coursChatCard{
  display: flex;
  padding: 30px;
  align-items: center;
  border: 1px solid #464242;
  overflow: hidden;
  text-align: center;
  color: white;
  cursor: pointer;
}
.coursChatCard:hover{
  background-color: rgba(126, 123, 123, 0.71);
}
.messages{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}
.messageHeader{
  display: flex;
  flex-direction: column;
  color: gray;
}
.messageInfo{
  background-color: rgba(47, 47, 47, 0.71);
  height: 50px;
  width: 100%;
  padding:10px 0 10px 0;

}
.messageList{
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overscroll-behavior:revert;
}

.messageContent{
  display: flex;
  gap: 10px;
}
.owner{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.messageContent.owner p{
  background-color: #a8a8ef;
  color: black;
  border-radius: 10px 0 10px 10px;
  padding: 10px 20px;
}
.messageContent p{
  background-color: white;
  color: black;
  border-radius: 0 10px 10px;
  padding: 10px 20px;
}
.messageInput{
  height: 50px;
  width: 100%;
  padding:10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.messageInput input{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
}
.messageInput input::placeholder{
  color: #b4b3b3;
}
.sendButton button{
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #5d5858;
}
.adminPanel{
  padding-top: 100px;
  padding-bottom: 100px;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}
.cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.usrCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    text-align: center;
    padding: 50px;
    background-color: black;
}
.cardPanel{
    padding: 10px;
}
.cardButton.Delete {
  background-color: red;
}
.cardButton.Done{
  background-color: green;
}
addUser{
  background-color: black;
  color: white;
}
.cardButton{
    background-color: #06152c;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
.cardButton:hover {
  background-color: #5d5858;
}
.input-validation:active {
  box-shadow: 2px 2px 5px #100f0f;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
